--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg120+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: job_posting; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.job_posting (
    id bigint NOT NULL,
    description_available boolean NOT NULL,
    job_id bigint,
    job_url character varying(255),
    location character varying(255),
    organization_logo character varying(255),
    organization_title character varying(255),
    posted_at bigint,
    title character varying(255),
    work_mode character varying(255)
);


ALTER TABLE public.job_posting OWNER TO admin;

--
-- Name: job_posting_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.job_posting ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.job_posting_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: job_posting; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: job_posting_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.job_posting_id_seq', 20, true);


--
-- Name: job_posting job_posting_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.job_posting
    ADD CONSTRAINT job_posting_pkey PRIMARY KEY (id);


--
-- Name: job_posting ukr3i21h1wn7gcd315xugcolelx; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.job_posting
    ADD CONSTRAINT ukr3i21h1wn7gcd315xugcolelx UNIQUE (job_id);


--
-- PostgreSQL database dump complete
--

